/*
Project Name: Monthly Resolutions
Client: One Month
Author: Christopher Castig | @castig
*/


/*-----------------------------------------------------------------------------
01=BASE
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}


/*-----------------------------------------------------------------------------
02=LAYOUT
-----------------------------------------------------------------------------*/
body{
		background: #DFDFDF;
}
.container{
	width:1000px;
	margin:0 auto;
}
.main{
background: #FFFFFF;
width:690px;
float: left;
padding: 25px;
margin: 5px;
}
.sidebar{
	background: #FFFFFF;
	width: 290px;
	margin: 5px;
	float:left;
}
h1,h2,p{
	margin: 10px;
}
ul{
        margin: auto;
}
.avatar {
 vertical-align: middle;
 border-radius: 50%;
 padding: 50px;
}
/*-----------------------------------------------------------------------------
03=MAIN
-----------------------------------------------------------------------------*/
