/*
 * General Styles
*/


body {
  background: url('../images/space-background.png');
  font-family: 'Open Sans', arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 28px;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}
/*
 * Heading Styles
*/
section.intro,section.contact{
  padding:2.5rem;
}
section.contact{
  background: #e6e9ea;
}
section.intro{
  background: #FFF;
}

h1, h2 {
  font-family: 'Lobster', cursive;
  color: #e22f8f;
  text-align: center;
  margin-bottom: 2rem;
}

h1 {

  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

/*
 * Container Styles
*/
.hero img{
  width:100%;
    border-radius: 1.25rem 1.25rem 0 0;
}
.container {
  width: 37.5rem;
  margin: 6.25rem auto;
}
.hero{
  line-height: 0rem;
}
aside.left{
  float: left;
}
aside.right{
  float: right;
}
aside{
  margin-right: 1.5rem;
  margin-bottom:  0.625rem;
}
.maps{
        width: 100%;
}
